################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DonaLaura/.vs/DonaLaura/v15/Server/sqlite3
/Livraria/.vs/Livraria/v15/Server/sqlite3
